*{
  margin: 0px;
  padding: 0px;
  font-family: Century;

}

header{
  background-image: linear-gradient(rgba(134, 164, 128, 0.5), rgba(134, 164, 128, 0.5), rgba(134, 164, 128, 0.5)),url(../med.jpg) ;
  height: 100vh;
  background-size: cover;
  background-position: center;
  min-height: 100px;


}

ul{
  float: right;
  list-style-type: none;
  margin-top: 30px;
  min-height: 400px;
  margin-right: -120px;
  font-size: 21px;

}

ul li{
  display: inline-block;

}

ul li a{
     text-decoration: none;
     color: #ffffff;
     padding:7px 45px;
     border: 1px solid transparent;
     transition: 0.5 ease;
     
    
    
}

ul li a:hover{
  background-color: #cef1b8;
  color:#000;

}

ul li.active a{
    background-color: #98b79b;
  color: #000;
}


.logo img{
  float: left;
  width: 500px;
  height: auto;
  margin-left: -450px;
  margin-top:-50px;

}

.main{
  max-width: 1200px;
  margin: auto;
}

.title{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.title h1{
  color: #fff;
  font-size: 90px;
}

.btn{
  border: 1px solid #fff;
  padding: 5px 45px;
  color: #fff;
  transition: 0.5 ease;
  font-size: 25px;
  text-decoration: none;

}

.btn:hover{
  background-color: #cef1b8;
  color: #000;
}

.sub-menu{
  display: none;
  top: 6%;
  position: relative;
}

.sub-menu ul{
  position: absolute;
}

.main ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: rgb(0, 45, 117);
  margin-top: -9px;
  margin-left: -80px;
}

.main ul li:hover .sub-menu ul{
  display: block;
  margin: 6px;
}

.main ul li:hover .sub-menu ul li{
  width: 500px;
  padding: 5px;
  border-bottom: 1px #fff;
  background: transparent;
  transition: 0.4 ease;
  text-align: left;
  border-radius: 0px;
}

.info{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info h1{
  color: #b3ea8b;
  font-size: 40px;
  line-height: 1.6;
  margin-top:100px;
  margin-bottom: 40px;
  text-align: center;
}

.info h2{
color: #b3ea8b;
  font-size: 40px;
  margin-left:300px;
}
